html {
    background-color: rgb(41, 7, 13);
    color:white;
}



body {
    background-color: rgb(27, 25, 25);
    border: 5px solid;
    padding: 25px;
    padding-right: 100px;
    margin: 400px;
    padding-right: 100px;
    border-radius: 5px;
}

h1 {
    text-decoration: underline;
    letter-spacing: 1px;
}

img {
    border-radius: 5px;
}

a.hover {
    color:crimson;
}

a.visited {
    color: crimson;
    text-decoration: none;
}
